<p class="footer">Desenvolvido e hospedado por <a href="https://github.com/jkayoss">Jhonatan Kayo</a> baseado no módulo do curso Fullstack da <a href="https://devpleno.com/">$DevPleno</a></p>
</div>
</body>
</html>