<%- include('header') %>
<h1 class="vagas">Admin</h1>

<div>    
    <ul>
        <li><a href="/admin/categorias">Gerenciar Categorias</a></li>   
        <li><a href="/admin/vagas">Gerenciar Vagas</a></li>       
    </ul>
</div>
<%- include('footer') %>