<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/estilos/main.css">
</head>
<body>
    <div class="container">
        <a href="/"><img src="/images/logo.png" alt="logomarca do site, escrito Jobify" class="logo"/></a>