<%- include('header') %>
        <h1 class="vagas"><%- vaga.titulo %></h1>
        <div class="card">
            <h4>Objetivo:</h4>
            <p><%- vaga.descricao %></p>
        </div>
<%- include('footer') %>